	<%- include ('partials/Header') %>
	<%- include ('partials/NavBar') %>
	<%- include ('partials/Jumbotron') %>

	
	<div class="d-flex container justify-content-center mb-4">
		<div class="row">
		<% if(data.errors){ %>
			<div class="card bg-danger p-4" role='alert' id='error-group' style='display:block'>
				<h5>Please: </h5>
				<ul id='errors'>
					<% data.errors.forEach(function(error){ %>
						<li><%= error.msg %> </li>

					<% }) %>
				</ul>
			</div>
		<% } %>
		</div>
	</div>
	<div class="d-flex container justify-content-center">
		<div class="col-10 col-lg-8">
			<div class="card p-4">
				<form action="/register" id="register-form" method='POST'>
					<h2 class='mb-4 text-center'>Register</h2>
					<div class="form-group text-center">
						<h5><label for="firstName">First Name</label></h5>
						<input type="text" class="form-control text-center" id='firstName' name='firstName' placeholder="Jack">
					</div>
					<div class="form-group text-center">
						<h5><label for="lastName">Last Name</label></h5>
						<input type="text" class="form-control text-center" id='lastName' name='lastName' placeholder="Sparrow">
					</div>
					<div class="form-group text-center">
						<h5><label for="email">Email Address</label></h5>
						<input type="email" class="form-control text-center" id='email' name='email' placeholder="BewareTheKraken@gmail.com">
					</div>
					<div class="form-group text-center">
						<h5><label for="">Username</label></h5>
						<input type="text" class='form-control text-center' id='username' name='username' placeholder="Little Jack Sparrow">
					</div>
					<div class="form-group text-center">
						<h5><label for="password">Password</label></h5>
						<input type="password" class='form-control text-center' id='password' name='password'>
					</div>
					<div class="form-group text-center">
						<h5><label for="confirmPassword">Confirm Password</label></h5>
						<input type="password" class='form-control text-center' id='confirmPassword' name='confirmPassword'>
					</div>
					<button class="btn btn-primary" id='registerBtn'>Register</button>
				</form>
			</div>
		</div>
	</div>

	<%- include ('partials/Footer') %>